header{
  color: white;
  background-color: rgb(9, 59, 59);
  padding: 20px 35px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
h1{
  align-self: center;
}
nav{
  justify-content: space-between;
  display: inline;
  padding: 20px 35px;
  align-self: center;
}
ul{
  display: inline;
  justify-content: space-between;
}

li{
  display: inline;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px;
  align-self: center;
  text-decoration: underline;

}

img{
  width: 100%;
}
